<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testRCurve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>970FA4E51D72BC3F009EADAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>970FA4FB1D72BC40009EADAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>970FA5061D72BC40009EADAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
